* {
    box-sizing: border-box;
}
main {
    position: relative;
    height: 100vh;
}
.MusicList,
.MusicDetail {
    padding: 64px;
    max-width: 1400px;
    margin: 64px auto 0;
    position: absolute;
    width: 100%;
    min-height: 100%;
}
.MusicDetail {
    position: fixed;
}
.Album {
    cursor: pointer;
}
.Album .MuiCardMedia-root {
    padding-top: 100%;
}
.Album .AlbumTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Album .ArtistName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.MusicDetail {
    display: none;
    align-items: stretch;
}
.MusicDetail.visible {
    display: flex;
}
.MusicDetail .MuiCard-root {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.MusicDetail .MuiCardMedia-root {
    flex: 1;
}
.MusicDetail .MuiCardContent-root {
    flex: 1;
}
.MusicDetail .MuiIconButton-root {
    color: #fff;
}